.botonlogin {
    color: var(--fuente-color-primario);
    margin-top: 20px;
    background-color: var(--color-secundarioDos);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    margin: 20px;
}

.botonlogin:hover {
    background-color: var(--color-secundario);
}

.links {
    text-decoration: none;
    color: var(--color-primario);
}

.links:hover {
    color: var(--color-secundarioDos);
}

.user-icon {
    margin: 20px;
}

.mensajelogin {
    color: var(--fuente-color-secundario);
}

.mensajelogin:hover {
    color: var(--color-secundarioDos);
}

.containerlogin {

    border-radius: 10px;
    border: 2px solid var(--color-primario);
    padding: 20px;

}

.containerlogin:hover {
    box-shadow: 0px 5px 15px var(--color-secundarioDos);
}

.textologin {
    font-size: 20px;
}