@import url('/src/App.css');

.color-fondo {
    background-color: var(--color-primarioDos)
}
.centrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}